/* CSS Demo stylesheet */

/*---box sizing ---*/
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing:inherit;
}

/* Responsive Images */
img{
    max-width:100%;
}

/* utility class */
.container{
    width:80vw;                     
    max-width:960px;
    margin:40px auto;
}

.img-right{
    float:right;
    margin:10px 0 10px 20px;
    border:1px solid #ccc;
    padding:5px;
    border-radius: 30px 15px;
}

.img-left{
    float:left;
    margin:10px 20px 10px 0;
    border:1px solid #ccc;
    padding:5px;
    border-radius: 30px 15px;
}

.img-center{
    display:block;
    margin:20px auto;
    border:1px solid #ccc;
    padding:5px;
    border-radius: 30px 15px;
}

/* global styles */
body{
    font-family: "Roboto", serif;
    margin:0;
}

header.primary{
    background-color:#3b638b;  
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23172635' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");      /* copy from https://heropattern.com */
    color:#ffffff;
    text-shadow: 2px 1px #000000
    /* long form */
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* single vale short hand */
    padding: 40px;
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;
    /* Two values T/B, R/L */
    padding: 20px 40px;
    text-align: center;
}

header.primary h1{
    font-size:2.4rem;
    margin:20px 0 0 0;
}

header.primary h1 a {
    color:#ffffff;
    text-decoration:none;    /* remove underline */
}

header.primary h2{
    font-size:1.2rem;
    margin:0;
}

/* match up selector and source code */
nav.primary{           /* header.primary nav{} */
    max-width:950px;
    margin:auto;
}    
    
nav.primary ul{
   padding:10px 0 0 0; 
   display:flex;
   flex-direction: row;
   justify-content: space-around;
}

nav.primary ul li{
   list-style-type: none;
}

/* thickness/stroke/color; see CSS Borders at w3schools.com */
nav.primary ul li a {
    color:#ffffff;
    text-decoration: none;           
    border:2px solid gray;        
    padding:7.5px 10px;         
    border-radius: 20px;
    background-color: rgba(0,0,0,.4);
    transition: 0.4s;
}

nav.primary ul li a:hover {
    background-color:rgba(0,0,0,0.8);
}
#intro {
    line-height:1.6;
}
#intro h2{
    color:#3b638b;
    border-bottom:1px dotted gray;
}

#content {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:2rem;
    border-top: 1px dotted #cccccc;
    border-bottom: 1px dotted #cccccc;
    padding: 2.4rem 0;
}

#content article.post{
    box-shadow:0 4px 8px rgba(0,0,0,.6);
    padding:10px;
    border-radius:4px;
    font-size:.8rem;
    transition:.4s;
}

#content article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.6);   
}

time.post-date, figcaption{
    text-transform: uppercase;
    color:#ccc;
}
#content a {
    color:#3b638b;
}

#content article.post figure{
    margin:0;
}

#practice h2{
    color:#3b638b;
    border-bottom:1px dotted #c0c0c0;
}

#practice a{
    color:#3b638b;
    transition:.4s;
}

#practice a:hover{
    text-decoration: none;
    transition:.4s;
}

#practice h3{
    border-left:7px solid #3b638b;            /* create color tab */
    padding:3.5px 10px;
}

table{
    width:100%;
    border:1px solid #cccccc;
    margin:20px 0;
    border-collapse: collapse;
}
caption{
    font-weight: bold;
    margin: 10px;
}
tr:nth-child(even){
    background-color:rgba(0,0,0,0.1);
}

tr:hover{
    background-color:rgba(0,0,0,0.3); 
}
th{
    background-color: #172635;
    color:#ffffff;
    padding:7.5px;
}
td{
    border:1px solid #cccccc;
    padding:5px;
}
td:nth-child(2), td:nth-child(3){
    text-align:right;
}
td:nth-child(n+2){
    text-align: right;
}

/* CSS list-style-type property(see w3schools)*/
#practice ol{
    list-style-type:lower-alpha;
}

#practice ul{
    list-style-type:square;
}

#practice ul li ul{
    list-style-type:disc;
}

#practice dt{
    font-weight:bold;
}

#practice dd{
    margin:0;
}

/* adjacent sibling (combinator) selector (see w3schools)*/
dd + dt{
    margin-top: 1rem;
}

blockquote{
    border: 4px double #cccccc;
    border-radius: 10px 2px;
    background-color:#172635;
    color:#fff;
    padding: 10px 20px;
    margin:20px 40px;
    line-height: 1.2;
}

cite{
    display:block;
    text-align: right;
    font-size: .7rem;
    margin-top: 1rem;    
}

aside[role="complementary"]{
    background:#172635;
    color:#ffffff;
    padding:40px 0;
}

aside .container{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 60px;
}

aside a{                            /* a link inside of aside */
    color:#ffffff;
}

aside a:last-of-type{               /* the other link outside of aside */
    color:#ffffff;
    display:block;
    margin-top:20px;
    text-align: right;
}

aside .widget footer{
    display:none;                     /*turns off to be invisible or color:aqua*/
}

footer#colophon.primary{              
    background:#3b638b;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23172635' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    padding:10px;
    text-align: center;
    color:#ffffff;
    font-size:1.4rem;
}

/* media queries */
@media screen and (max-width:600px){

nav.primary ul{
    flex-direction: column; 
    gap: 10px;
    max-width: 250px;
    margin:10px auto;          /* T/B:10px, L/R: auto; click menu-view-word wrap */
}

nav.primary ul a {
    display:block;
}

aside .container{
    flex-direction: column;
    gap: 60px;
}

#content { 
    flex-direction:column;        
}
}
