/* CSS Demo stylesheet */

/*---box sizing ---*/
html{
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing:inherit;
}

/*---Responsive Images ---*/

img{
    max-width:100%;
}

/*---utility class---*/
.container{
    width:80vw;                     /*---vw:viewport width ---*/
    max-width:950px;
    margin:40px auto;
}

/*--global class---*/
body{
    font-family: "Mulish", sans-serif;
    margin:0;
}


body{
    background-color: rgb(202, 203, 152);
}

header.primary{
    background-color:#D9D350;  
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23172635' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");

    color:#ffffff;
    text-shadow: 2px 1px #000000
    /* long form */
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* single vale short hand */
    padding: 40px;
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;
    /* Two values T/B, R/L */
    padding: 20px 40px;
    text-align: center;
}

header.primary h1{
    font-size:2.4ram;
    margin:20px 000;
}

header.primary h1 a {
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size:1.2rem;
    margin:0;
}

/*--- match up selector and source code ---*/
nav.primary{           /* also works with header.primary nav{}*/
    max-width:950px;
    margin:auto;
}    
    

nav.primary ul{
   padding:10px 0 0 0; 
   display:flex;
   flex-direction: row;
   justify-content: space-around;
}

nav.primary ul li{
   list-style-type: none;
}

nav.primary ul li a {
    color:#ffffff;
    text-decoration: none;           /* remove underline */
    border:2px solid gray;        /* thickness,stroke, color; see CSS Borders at w3schools.com */
    padding:7.5px 10px
    border-radius: 20px;
    background-color: rgba(0,0,0,.4);
    transition:.4s;

}

nav.primary ul li a:hover {
    background-color:rgba(0,0,0,0.4);
}
#intro {
    line-height:1.6;
}
#intro h2{
    color:#000ff0;
    border-bottom:1px dotted gray;
}

#content {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:2ram;
    border-top: 1px dotted #cccccc;
    border-bottom: 1px dotted #cccccc;
    padding: 2.4rem 0;
}

#content article.post{
    box-shadow:0 4px 8px rgba(0,0,0,.6);
    padding:10px;
    border-radius:4px;
    font-size:8ram;
    transition:.4s;
}

#content article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.6);
   
}

time.post-date, figcaption{
    text-transform: uppercase;
    color:#ccc;
}
#content a {
    color:#3b638b;
}

#content article.post figure{
    margin:0;

}

aside[role="complementary"]{
    background:#172635;
    color:#ffffff;
    padding:40px 0;
}

aside .container{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 60px;
}

aside a{                            /*a link inside of aside*/
    color:#ffffff;
}

aside a:last-of-type{               /*the other link outside of aside*/
    color:#ffffff;
    display:block;
    margin-top:20px;
    text-align: right;
}

aside .widget footer{
    display:none;                     /*turns off to be invisible or color:aqua*/
}

footer#colophon{              
    background:#3b638b;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23172635' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    padding:10px;
    text-align: center;
    color:#ffffff;
    font-size:1.4rem;
}

/* ----media queries--- */
@media screen and (max-width:600px){

nav.primary ul{
    flex-direction: column; 
    gap: 20px;
    max-width: 250px;
    margin:10px auto;          /*view-word wrap*/
}

nav.primary ul a {
    display:block;
}
aside .container{
    flex-direction: column;
    gap: 60px;
}
}

@media screen and (max-width:400px){
    #content { 
        flex-direction:column;        
    }
}